.navbar{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: right;
    position: sticky;
    top: 0;
    background-color: rgb(130, 168, 221);
    /* border-bottom: 1px solid gray; */
    box-shadow: .1px 1px 2px 1px rgb(156, 159, 116);
}


.navbaritems{
    margin: 0px 5vw;
  
    border-radius: 10px;
    padding: 1px 2px;
}
.navbaritems a{
    color: wheat;
    text-decoration: none;
    transition: all .4s ease-in-out;
}
.navbaritems a:hover{
    color: rgb(17, 15, 64);

}