.blockcenter{
    text-align: center;
}
.flex{
    display: flex;
}
ul{
    list-style: none;
}
.contentbox{
    border: 3px dotted rgb(226, 171, 171);
    margin: 10vh 0vw;
    padding: 50px 20px 40px 40px;
    background-color:#231f49;
    color: rgb(229, 239, 243);
    border-bottom-left-radius: 40px;
    border-top-right-radius: 30px;
    transition: all .7s ease-in-out;
}
.contentbox:hover{
    /* opacity: .9; */
    /* transform:scale(1.03); */
    color: lightgray;
    /* transform: rotateZ(-5deg);
    border-top-right-radius: 190px; */

}
.thirdheading{
    margin: 0px 0px 5vh 0px;
}
body{
  
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .marginy{
    margin-top: 15px;
    margin-bottom: 10px;
  }